Source: twinkle
Section: comm
Priority: optional
Maintainer: Debian VoIP Team <pkg-voip-maintainers@lists.alioth.debian.org>
Uploaders: Peter Colberg <peter@colberg.org>
Build-Depends: bison,
               cmake,
               debhelper (>= 9),
               flex,
               help2man,
               libasound2-dev [linux-any],
               libccrtp-dev,
               libcommoncpp2-dev (>= 1.4.2),
               libgsm1-dev,
               libmagic-dev,
               libreadline-dev,
               libsndfile1-dev,
               libspeex-dev,
               libspeexdsp-dev,
               libxml2-dev,
               linux-libc-dev [linux-any],
               qtdeclarative5-dev,
               qtscript5-dev,
               qttools5-dev,
               qttools5-dev-tools
Standards-Version: 3.9.8
Homepage: http://twinkle.dolezel.info/
Vcs-Git: https://anonscm.debian.org/git/pkg-voip/twinkle.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-voip/twinkle.git

Package: twinkle
Architecture: any
Depends: qml-module-qtquick2, ${misc:Depends}, ${shlibs:Depends}
Description: Voice over Internet Protocol (VoIP) SIP Phone
 Twinkle is a soft-phone for making telephone calls over an IP network
 using the SIP protocol. You can use it for direct IP phone to IP phone
 communication or in a network using a SIP proxy to route your calls.
 Notable features include multiple active identities, call transfer,
 call rejection, 2 simultaneous calls and 3-way conference calls.
