Source: twinkle
Section: comm
Priority: optional
Maintainer: Mark Purcell <msp@debian.org>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, libcommoncpp2-dev (>=1.3.10-4), libccrtp-dev (>=1.3.4), help2man, libqt3-mt-dev (>= 3:3.3.4-4), qt3-apps-dev, automake1.9
Standards-Version: 3.6.1

Package: twinkle
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Voice over Internet Protocol (VoIP) SIP Phone
 Softphone for making telephone calls using SIP over an IP network.
 .
 Twinkle supports direct IP phone to IP phone communication or a network
 using a SIP proxy to route your calls.
 .
 In addition to making basic voice calls Twinkle provides you the
 following features regardless of the services that your VoIP service
 provider might offer. 
 .
  2 call appearances (lines)
  Call Waiting
  Call Hold
  3-way conference calling
  Mute
  Call redirection on demand
  Call redirection unconditional
  Call redirection when busy
  Call redirection no answer
  Reject call redirection request
  Blind call transfer (new)
  Reject call transfer request (new)
  Call reject
  Do not disturb
  Auto answer (new)
  Send DTMF digits (RFC 2833) to navigate IVR systems
  STUN support for NAT traversal (new)
  Send NAT keep alive packets when using STUN (new)
  NAT traversal through static provisioning
 .
 Website: http://www.twinklephone.com
