#!/usr/bin/make -f

# Support manual invocation of debian/rules
include /usr/share/dpkg/architecture.mk

# Disable ZRTP support for now (see: #797554)
CONFIGURE_FLAGS = -DWITH_QT5=ON -DWITH_ZRTP=OFF -DWITH_SPEEX=ON -DWITH_GSM=ON

# Enable ALSA support on Linux only
ifeq ($(DEB_HOST_ARCH_OS),linux)
CONFIGURE_FLAGS += -DWITH_ALSA=ON
else
CONFIGURE_FLAGS += -DWITH_ALSA=OFF
endif

# Avoid useless library dependencies
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
# Enable hardening build flags
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean --builddir=build
	dh_auto_clean --builddir=build-akonadi

override_dh_auto_configure:
	dh_auto_configure --builddir=build         -- \
		$(CONFIGURE_FLAGS) -DWITH_AKONADI=OFF
	dh_auto_configure --builddir=build-akonadi -- \
		$(CONFIGURE_FLAGS) -DWITH_AKONADI=ON

override_dh_auto_build:
	dh_auto_build --builddir=build
	dh_auto_build --builddir=build-akonadi

override_dh_auto_install:
	dh_auto_install --builddir=build         --destdir=debian/tmp
	dh_auto_install --builddir=build-akonadi --destdir=debian/tmp-akonadi

override_dh_install:
	dh_install --sourcedir=debian/tmp       --no-package=twinkle-akonadi
	dh_install --sourcedir=debian/tmp-akonadi  --package=twinkle-akonadi

# Install NEWS as upstream changelog
override_dh_installchangelogs:
	dh_installchangelogs NEWS

# Install bug-presubj in all packages
override_dh_bugfiles:
	dh_bugfiles --all

# Install docs in all (arch) packages
override_dh_installdocs:
	dh_installdocs
	dh_installdocs --all --arch --no-package=twinkle \
		debian/README.Debian \
		`cat debian/docs`
